// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;


$yellow: #F2C57C;
$beige: #DBCFB0;
$light-green: #7FB685;
$green: #426A5A;
$red: #EF6F6C;
$blue: #55868C;
$dark-blue: #001030;
