---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://stevensegallery.com/1200/800');">
  <div class="banner-content">
    <h1>Are you sure?</h1>
    <p>Really really sure?</p>
    <a class="btn btn-primary btn-lg">Start</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://stevensegallery.com/400/400');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>The chef</h2>
          <p>Very cool, the best</p>
        </div>
        <img class="card-user" src="https://stevensegallery.com/30/30">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://stevensegallery.com/300/300');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>The Panda</h2>
          <p>Very cool, the best</p>
        </div>
        <img class="card-user" src="https://stevensegallery.com/40/40">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://stevensegallery.com/500/500');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>The guitar</h2>
          <p>Very cool, the best</p>
        </div>
        <img class="card-user" src="https://stevensegallery.com/50/50">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://stevensegallery.com/450/450');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>The gun</h2>
          <p>Very cool, the best</p>
        </div>
        <img class="card-user" src="https://stevensegallery.com/60/60">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

  </div>
</div>

<!-- <div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div> -->

